<!DOCTYPE html>
<html>

<head>
    <link href="/stylesheets/quizz/equipe.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/quizz/header.css" rel="stylesheet" type="text/css">

    <title>Quizee</title>
</head>

<body class="transparent">
    <% include ../partials/header %>
    <section class="center textformulaire">
        <article class="column">
            <div class="flexequipe">
                <img class="photo" src="/images/hotel 1.jpg" alt="logo" />
                <div class="miseenforme">
                    <textarea readonly style="overflow:hidden"> Etudiant en web et application mobile, ceci est mon premier site web effectué personnellement. Je suis quelqu'un de conscensieux et symphatique qui refuse jamais une bonne discussion autour d'un verre! Je met ci-joint mon CV pour ceux que cela pourrait intéresser : </textarea>
                     <a href="C:\Users\benjamin stoband\Downloads" target="_blank">Lien vers mon CV</a>
                </div>
            </div>
           <!--- <div class="flexequipe">
                <img class="photo" src="/images/hotel 1.jpg" alt="logo" />
                <div>
                    <textarea readonly style="overflow:hidden"></textarea>
                </div>
            </div> -->
        </article>
    </section>
</body>