<!DOCTYPE html>
<html class="center">

<head>
    <link href="/stylesheets/quizz/formulaire.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Quizee</title>
</head>

<body class="center bodysize">

    <form id="form" method="POST" action="/users/signin" class="column spacearound formsize">
        <section class="textformulaire">
            <article class="infos_globale column">
                <div>
                    <input type="text" id="username" name="username" placeholder="Username*" style="border: hidden">
                </div>
                <div>
                    <input type="text" id="lastname" name="lastname" placeholder="Nom*" style="border: hidden">
                </div>
                <div>
                    <input type="text" id="firstname" name="firstname" placeholder="Prenom*" style="border: hidden">
                </div>

                <div>
                    <input type="email" id="email" name="email" placeholder="email*" style="border: hidden">
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="email*" style="border: hidden">
                </div>
            </article>
            <article class="infos_globale column">
                <div>
                    <input type="text" id="socity" name="socity" placeholder="Societe" style="border: hidden">
                </div>
                <div>
                    <input type="text" id="function" name="function" placeholder="Fonction" style="border: hidden">
                </div>
                <div>
                    <input type="text" id="country" name="country" placeholder="Pays*" style="border: hidden">
                </div>
                <div>

                    <input type="password" id="password" name="password" placeholder="Mot de passe*"
                        style="border: hidden">
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Mot de passe*"
                        style="border: hidden">
                    <p>Type de mot de passe : <br>
                        - min longueur = 8 <br>
                        - minuscules et nombre <br>
                        - pas d'espace <br>
                        - pas de suite de chiffre</p>
                </div>
            </article>
        </section>
        <article class="column">
            <div class="espace1">
                <input type="checkbox" id="cgu" />
                <label>J'accepte les conditions d'utilisation</label>
            </div>
            <div class="espace1">
                <input type="checkbox" id="confi" />
                <label>J'ai pris connaissance de la politique de<br>protection des donnees personnelles</label>
            </div>
        </article>
        <article class="center">
            <button class="block_bleu_foncer size" type="submit">
                valider
            </button>
        </article>
        <% if(somethingNotValid) { %>
        <p class="error"> erreur champ(s) invalide(s) </p>
        <% } %>
        <p id="check_error" class="error hide"> merci d'accepter les regles d'utilisations et de confidentialitees</p>
    </form>
    <script src="/javascripts/cgucheck.js"></script>