<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css"/>
    <link href="/stylesheets/quizz/index.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/quizz/header.css" rel="stylesheet" type="text/css">
    <title>quizee</title>
    
  </head>
  <body class="transparent">
    <% include ../partials/header %>
    <section class="align transparent">
      <img class="background_img" src="/images/acceuil-transparant.PNG" alt="Acceuil" />
    </section>
  <section class= "align">
    <a href="/users/formulaire" class="bouton"> commencer </a>
</section>

  </body>
</html>
