<!DOCTYPE html>
<HTML class="center">

<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Microsoft Office User">
    <META NAME="CREATED" CONTENT="20200514;62700000000000">
    <META NAME="CHANGEDBY" CONTENT="Microsoft Office User">
    <META NAME="CHANGED" CONTENT="20200529;141600000000000">
    <META NAME="AppVersion" CONTENT="16.0000">
    <META NAME="DocSecurity" CONTENT="0">
    <META NAME="HyperlinksChanged" CONTENT="false">
    <META NAME="LinksUpToDate" CONTENT="false">
    <META NAME="ScaleCrop" CONTENT="false">
    <META NAME="ShareDoc" CONTENT="false">
    <link href="/stylesheets/quizz/header.css" rel="stylesheet" type="text/css">
    <STYLE TYPE="text/css">
        <!--
        @page {
            margin: 0.98in
        }

        html
        {
            background:linear-gradient(23deg, #0ad7ff, #00ffff);
        }
        P {
            margin-bottom: 0.08in;
            direction: ltr;
            widows: 2;
            orphans: 2
        }

        H2 {
            margin-top: 0.19in;
            margin-bottom: 0.19in;
            direction: ltr;
            widows: 2;
            orphans: 2;
            page-break-after: auto
        }

        H2.cjk {
            font-family: "Times New Roman";
            so-language: fr-FR
        }

        H2.ctl {
            font-family: "Times New Roman"
        }

        A:link {
            color: #0000ff;
            so-language: zxx
        }
        -->
    </STYLE>
</HEAD>

<BODY LANG="fr-FR" LINK="#0000ff" DIR="LTR">
    <% include ../partials/header %>
    <P STYLE="margin-bottom: 0in">
        <FONT SIZE=4><SPAN STYLE="background: #ffff00">Confidentialité
                et protection des données à caractère personnel</SPAN></FONT>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><SPAN >Sont
                    expliqués (1) l’origine et la nature des données que le service
                    QUIZEE.FR collecte, (2) la raison de leur collecte (finalité du
                    traitement), (3) la façon dont nous les utilisons et (4) les droits
                    dont vous disposez sur ces données conformément à la loi n°78-17
                    du 6 janvier 1978 modifiée (dite loi “</SPAN></FONT>
        </FONT>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Informatique
                    et Liberté</B></FONT>
        </FONT>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><SPAN >“),
                    et au Règlement UE n°2016/679 du Parlement européen et du Conseil
                    du 27 avril 2016 relatif à la protection des personnes physiques à
                    l’égard du traitement des données à caractère personnel et à
                    la libre circulation de ces données dit «&nbsp;RGPD&nbsp;».</SPAN></FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">La
                Politique de Confidentialité QUIZEE.fr ne s’applique pas aux sites
                Internet tiers ou aux applications mobiles vers lesquels vous
                pourriez être redirigés lors de votre utilisation du site Internet
                et service QUIZEE.fr . Nous vous invitons à consulter les mentions
                légales et politiques de confidentialités de ces sites.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">En
                utilisant le site Internet et/ou le service QUIZEE&nbsp;.fr, vous
                déclarez avoir compris et accepté sans réserve les termes de la
                Politique de Confidentialité de QUIZEE.fr.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Nous
                pouvons modifier la Politique de Confidentialité à tout moment et,
                si nous y apportons des modifications importantes, nous vous en
                informerons par le biais d’une notification s’affichant lors de
                la connexion aux sites Internet QUIZEE.fr ou par courrier
                électronique à l’adresse renseignée lors de la création de
                votre Compte Utilisateur, pour vous donner l’opportunité
                d’examiner les modifications avant qu’elles prennent effet.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Si
                vous vous opposez à l’une quelconque des modifications, vous
                pouvez&nbsp;supprimer votre compte utilisateur.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Si
                vous continuez à consulter notre site Internet et/ou à utiliser nos
                services après la publication ou l’envoi d’un avis concernant
                les modifications apportées à la présente Politique de
                Confidentialité, cela signifie que vous acceptez sans réserve la
                Politique de Confidentialité mise à jour</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">La
                politique de confidentialité et protection des données à caractère
                personnel mise en œuvre par QUIZEE.fr concernant la collecte et
                l’utilisation de vos données lors de votre utilisation du service
                QUIZEE.fr ou navigation sont décrit ci-après&nbsp;: </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <OL>
        <LI>
            <P STYLE="margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif"><B>Origine
                            et la nature des données collectées</B></FONT>
                </FONT>
            </P>
    </OL>
    <P STYLE="margin-left: 0.75in; margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Données
                renseignées directement sur le formulaire d’inscription au service
                QUIZEE.fr lors de la création d’un compte utilisateur (nom,
                prénom, courrier électronique, nom de votre entreprise, vos
                identifiants&nbsp;: nom d’utilisateur et mot de passe) ou lors de
                l’utilisation du service (adresse de courrier électronique de vos
                contacts pour leur envoyer le lien des quiz que vous aurez créés).
                Les données de navigation ne sont pas collectées. Il n’y a pas
                d’installation de cookies par QUIZEE.fr lors de votre navigation
                (un cookie est un petit fichier téléchargé dans votre terminal
                lorsque vous naviguez sur un site Internet).</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT COLOR="#000000">
                <FONT FACE="Helvetica Neue, serif">Pour
                    réaliser les finalités listées à l’Article 2 de la Politique de
                    Confidentialité et protection des données QUIZEE.fr peut constituer
                    un fichier constitué d’Informations Personnelles communiquées
                    lors de la création d’un compte utilisateur du service QUIZEE.fr</FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT COLOR="#000000">
                <FONT FACE="Helvetica Neue, serif">Vous
                    pouvez exprimer votre consentement préalable et exprès à la
                    collecte et au traitement de vos données personnelles par QUIZEE.fr,
                    à l’occasion de la création d’un compte utilisateur en
                    conformité avec les dispositions de la loi Informatique et Libertés
                    (notamment par le biais de cases à cocher).</FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT COLOR="#000000">
                <FONT FACE="Helvetica Neue, serif">Par
                    la présente, vous êtes informé(e) des modalités et conditions de
                    traitement de vos Informations Personnelles par QUIZEE.fr</FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <OL START=2>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
                <FONT FACE="Times New Roman, serif">
                    <FONT COLOR="#000000">
                        <FONT FACE="Helvetica Neue, serif"><B>Finalité
                                du traitement de vos informations personnelles</B></FONT>
                    </FONT>
                </FONT>
            </P>
    </OL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Les
                Informations Personnelles que QUIZEE.fr collecte directement auprès
                de vous lors de la création d’un compte utilisateur ou
                l’utilisation du service peuvent être traitées en vue des
                finalités suivantes :</FONT>
        </FONT>
    </P>
    <UL>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                    <FONT COLOR="#000000">
                        <FONT FACE="Helvetica Neue, serif">Le suivi
                            de la “relation utilisateur” et améliorer «&nbsp;l’expérience
                            utilisateur&nbsp;» tels que </FONT>
                    </FONT>
                </P>
                <UL>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                            <FONT COLOR="#000000">
                                <FONT FACE="Helvetica Neue, serif">Pour
                                    gérer vos demandes de droit d’accès à vos données
                                    personnelles, de rectification et d’opposition,</FONT>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                            <FONT COLOR="#000000">
                                <FONT FACE="Helvetica Neue, serif">la
                                    réalisation d’enquêtes de satisfaction, </FONT>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                            <FONT COLOR="#000000">
                                <FONT FACE="Helvetica Neue, serif">la
                                    demande d’information, </FONT>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                            <FONT COLOR="#000000">
                                <FONT FACE="Helvetica Neue, serif">la
                                    gestion des réclamations,</FONT>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                            <FONT COLOR="#000000">
                                <FONT FACE="Helvetica Neue, serif">La
                                    fourniture du service QUIZEE.fr (notamment pour vous permettre
                                    l’envoi de mails à vos contacts avec le lien des quiz que vous
                                    aurez créés),</FONT>
                            </FONT>
                        </P>
                </UL>
        </UL>
    </UL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 1.5in; margin-top: 0.16in; margin-bottom: 0in">
        <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Bases
                    juridiques&nbsp;: </B></FONT>
        </FONT>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Intérêt
                légitime et respect des dispositions légales</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Catégorie
                    de données personnelles&nbsp;: </B></FONT>
        </FONT>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">coordonnées
                et civilités</FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <OL START=3>
        <LI>
            <P STYLE="margin-top: 0.31in; margin-bottom: 0.31in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif"><B>Comment
                            sont utilisées vos données personnels et leur destinataire</B></FONT>
                </FONT>
            </P>
    </OL>
    <P STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Peuvent
                    accéder à vos Informations Personnelles :</B></FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">Les
                        administrateurs de QUIZEE.fr chargés du développement informatique
                        et maintenance applicative.</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">Le
                        sous-traitant/prestataire assurant l’hébergement du site internet
                        et base de données (Société OVH localisée en France) tenu par
                        des obligations contractuelles en matière de sécurité et de
                        confidentialité des données personnelles au titre de la Loi
                        Informatique et Libertés. </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">Les
                        officiers ministériels et auxiliaires de justice, le cas échéant,
                        dans le cadre de l’exercice de toute procédure et/ou disposition
                        d’ordre public.</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">La
                        CNIL et/ou toute autorité de contrôle compétente.</FONT>
                </FONT>
            </P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-top: 0.31in; margin-bottom: 0.31in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Durée
                    de conservation&nbsp;:</B></FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Nous
                conservons vos Informations Personnelles tant que votre compte
                utilisateur existe ou tant que nécessaire pour vous fournir les
                prestations en relation avec nos services.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Vous
                avez naturellement la possibilité de supprimer votre
                compte-utilisateur en exerçant les droits dont vous disposez tels
                que listés ci-après.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Vous
                comprenez que le maintien de vos Données Personnelles dans notre
                système d’information revêt un intérêt légitime en terme
                administratif, juridique et de sécurité et est nécessaire pour
                mener à bien vos demandes d’opposition, de limitation des
                opérations de traitement et d’effacement de vos Informations
                Personnelles et pour satisfaire toute obligation légale, comptable
                ou fiscale de conservation des données personnelles (notamment à
                des fins probatoires) ou de communication à des autorités
                habilitées (administration, services de police, etc.). Nous nous
                engageons à maintenir un niveau performant de sécurité et de
                confidentialité de vos données, à en restreindre l’accès aux
                seules personnes autorisées et ne pas les traiter pour des finalités
                auxquelles vous n’avez pas consenti.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.31in; margin-bottom: 0.31in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Sécurité
                    et confidentialité&nbsp;:</B></FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">QUIZEE.fr
                met en œuvre des mesures organisationnelles et techniques de
                sécurité destinées à garantir la confidentialité et l’intégrité
                de vos données à caractère personnel. Toutes nos données stockées
                sur les serveurs de notre hébergeur OVH et sont protégées par
                portail sécurisé sous protocole HTTPS, chiffrement des données en
                transit sous protocole SSL, barrières coupe-feu, usage d’antivirus,
                gestion des accès, propre à la politique de sécurité de OVH.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Cependant,
                compte-tenu de la nature même du réseau public qu’est l’Internet,
                vous reconnaissez et acceptez que la sécurité des transmissions via
                Internet et l’intégrité des données personnelles ne puissent
                être garanties.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">En
                cas de faille de sécurité entraînant une violation des données
                personnelles, nous nous engageons à informer notre prestataire
                assurant l’hébergement afin qu’il mete en œuvre des correctifs
                dans les meilleurs délais.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <OL START=4>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif"><B>Vos
                            droits sur ces données</B></FONT>
                </FONT>
            </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Conformément
                aux dispositions de la Règlementation Applicable et notamment des
                articles 15 à 22 du RGPD, vous&nbsp;pouvez :</FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">nous
                        adresser toute demande d’informations relatives à la Politique de
                        Confidentialité QUIZEE.fr et au traitement de vos données
                        personnelles&nbsp;;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">accéder
                        aux informations concernant le traitement de vos données
                        personnelles (catégorie de données, finalités, etc.)&nbsp;;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">supprimer
                        votre compte utilisateur en vous connectant à votre
                        compte-utilisateur et en modifiant les paramètres (lorsque cette
                        option est disponible) ou en nous contactant par mail&nbsp;;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">corriger
                        ou actualiser les données personnelles qui sont inexactes, en vous
                        connectant à votre compte-utilisateur et en modifiant les
                        paramètres (lorsque cette option est disponible) ou en nous
                        contactant par mail&nbsp;;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">supprimer
                        vos données personnelles en vous connectant à votre
                        compte-utilisateur et en modifiant les paramètres (lorsque cette
                        option est disponible) ou en nous contactant par mail&nbsp;;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">limiter
                        les opérations de traitement de vos données personnelles que nous
                        réalisons, lorsque vous contestez l’exactitude des données
                        personnelles (limitation pendant une durée nous permettant de
                        vérifier l’exactitude de vos données personnelles), ou la
                        licéité du traitement (mais que vous nous autorisez à le
                        poursuivre), en nous contactant par mail&nbsp;;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">recevoir
                        copie de vos données personnelles, dans un format structuré,
                        couramment utilisé et lisible par votre ordinateur&nbsp;en nous
                        contactant par mail&nbsp;; étant précisé que toute demande de
                        copie au-delà de la première pourra générer des coûts de
                        traitement administratif qui vous seront facturés. Vous êtes
                        informé que les Données Personnelles qui sont dérivées,
                        calculées ou inférées par nos soins, à partir des données que
                        vous nous fournissez sont exclues du droit à la portabilité, dans
                        la mesure où elles ne sont pas fournies par vous, mais créées par
                        nos soins ;</FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">vous
                        opposer à tout moment au traitement des données personnelles à
                        des fins de prospection commerciale en vous désinscrivant de la
                        liste d’envoi en cliquant le lien hypertexte dédié figurant dans
                        le courrier électronique de prospection commerciale&nbsp;;</FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Il
                est précisé que QUIZEE.fr ne réalise pas de prospection
                commerciale&nbsp;;</FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
                <FONT COLOR="#000000">
                    <FONT FACE="Helvetica Neue, serif">introduire
                        une réclamation auprès de la Commission Nationale de
                        l’Informatique et des Libertés, 3 Place de Fontenoy – TSA 80715
                        – 75334 PARIS CEDEX 07, Tel&nbsp;:01 53 73 22 22&nbsp;;</FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">En
                cas de demandes excessives de votre part, notamment en raison de leur
                caractère répétitif, nous nous réservons le droit de ne pas
                donner suite à toute demande d’accès postérieure à une demande
                d’accès à vos données personnelles dûment satisfaite par nos
                soins.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Vos
                demandes devront être adressées par courrier électronique aux
                coordonnées indiquées ci-dessous, être signées et accompagnées
                de la photocopie d’un titre d’identité portant la signature du
                titulaire. La demande devra préciser l’adresse à laquelle devra
                parvenir la réponse. Nous disposerons d’un délai d’un (1) mois
                pour répondre suivant réception de la demande. Au besoin, ce délai
                peut être prolongé de deux (2) mois, compte tenu de la complexité
                et du nombre de demandes.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>QUIZEE.fr</B></FONT>
        </FONT>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">
                &nbsp;–&nbsp;onglet «&nbsp;Contact&nbsp;»</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.31in; margin-bottom: 0.31in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.31in; margin-bottom: 0.31in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif"><B>Nous
                    contacter&nbsp;:</B></FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Vous
                pouvez nous faire part de vos questions ou commentaires concernant la
                Politique de Confidentialité, à l’adresse indiquée dans l’onglet
                «&nbsp;Contact&nbsp;» du site internet QUIZEE.fr </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.16in; margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Politique
                de confidentialité mise à jour le 31/05/2020</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><SPAN STYLE="background: #ffff00">MENTIONS
            LEGALES&nbsp;:</SPAN></P>
    <H2 CLASS="western"><BR><BR>
    </H2>
    <H2 CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">QUIZEE.fr</FONT>
        </FONT>
    </H2>
    <H2 CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Site
                internet et application de création/utilisation de quiz réalisé et
                maintenu par des étudiants en informatique et design sans but
                lucratif.</FONT>
        </FONT>
    </H2>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT COLOR="#000000">
                <FONT FACE="Helvetica Neue, serif">Contact&nbsp;:
                    Email&nbsp;dans onglet «&nbsp;Contact&nbsp;» du site internet
                    quizee.fr<BR></FONT>
            </FONT>
        </FONT><BR><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H2 CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Hébergement
                du site internet www.quizee.fr</FONT>
        </FONT>
    </H2>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT COLOR="#000000">
                <FONT FACE="Helvetica Neue, serif">OVH</FONT>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P STYLE="margin-bottom: 0in">
        <FONT COLOR="#122844">
            <FONT FACE="SourceSansPro, serif">
                <FONT SIZE=3 STYLE="font-size: 13pt">SAS
                    au capital de 10 069 020 €<BR>RCS Lille Métropole 424 761 419
                    00045<BR>Code APE 2620Z<BR>N° TVA : FR 22 424 761 419<BR>Siège
                    social : 2 rue Kellermann - 59100 Roubaix - France</FONT>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">
        <FONT SIZE=4><SPAN STYLE="background: #ffff00">CGU&nbsp;:
                Conditions Générales d’Utilisation</SPAN></FONT>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Le
                site internet QUIZEE.fr édite et exploite la solution logicielle
                QUIZEE permettant la réalisation (conception et suivi) de quizz en
                mode «&nbsp;Software As A Service (Saas)&nbsp;».</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">Les
                présentes Conditions Générales d’Utilisation définissent
                les modalités d’accès et d’utilisation du service QUIZEE.fr
                par les Utilisateurs pour leur utilisation personnelle ou
                professionnelle.</FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in;"><A NAME="_GoBack"></A>
        <FONT COLOR="#000000">
            <FONT FACE="Helvetica Neue, serif">En l’état
                et sous réserve de l’intégration éventuelle de nouveaux
                modules et/ou fonctionnalités, ou politique commerciale, l’accès
                par l’Utilisateur aux Services est entièrement gratuit. </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">accès
            au Logiciel et/ou aux Services et leur utilisation requièrent
            l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">acceptation
            préalable sans réserve des CGU par l’Utilisateur. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            déclare avoir pris connaissances et accepter les CGU avant la 1ère
            utilisation des Services. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">En
            tout état de cause, l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">utilisation
            du Logiciel et/ou de tout ou partie des Services matérialise
            l’acceptation expresse et sans réserve des CGU par l’Utilisateur.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L'acceptation
            des présentes CGU est entière et forme un tout indivisible, et
            l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            ne peut choisir de voir appliquer une partie des CGU seulement ou
            encore formuler des réserves. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Dans
            l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">hypothèse
            où l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            serait une personne physique mineure, l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">accès
            au Logiciel et/ou aux Services est subordonné à l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">autorisation
            préalable des titulaires de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">autorité
            parentale, garants du respect des présentes CGU par l’Utilisateur.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><B>Condition
                d’utilisation du Logiciel </B></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Lors
            de sa première utilisation du Logiciel, l’Utilisateur procède
            à la création d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">un
            compte Uilisateur QUIZEE personnel lui permettant (i) d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">accéder
            à son </FONT>
        <FONT FACE="Arial Narrow, serif">«</FONT>
        <FONT FACE="ArialNarrow, serif">
            Profil </FONT>
        <FONT FACE="Arial Narrow, serif">»</FONT>
        <FONT FACE="ArialNarrow, serif">,
            (ii) de se connecter au service QUIZEE.</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Toute
            saisie d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">informations
            fausses, inexactes, illégitimes, non-actualisées ou incomplètes
            ou d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">un
            nom d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            contenant des termes, injurieux, diffamants, violents, obscènes ou
            plus généralement des termes contraires à l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">ordre
            public et aux bonnes m</FONT>
        <FONT FACE="Arial Narrow, serif">œ</FONT>
        <FONT FACE="ArialNarrow, serif">urs,
            pourra donner lieu à la suspension ou à la fermeture du Compte
            Utilisateur par QUIZEE.fr</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT FACE="ArialNarrow, serif">L</FONT>
            <FONT FACE="Arial Narrow, serif">’</FONT>
            <FONT FACE="ArialNarrow, serif">Utilisateur
                s</FONT>
            <FONT FACE="Arial Narrow, serif">’</FONT>
            <FONT FACE="ArialNarrow, serif">engage
                à garder ses identifiants et mot-de-passe strictement confidentiels
                et à ne pas les communiquer à des tiers, afin d'éviter autant
                que possible tout risque d'intrusion ou d’usurpation de son Compte
                Utilisateur. QUIZEE.fr ne saurait e</FONT>
            <FONT FACE="Arial, serif">̂</FONT>
            <FONT FACE="ArialNarrow, serif">tre
                tenue responsable de toute utilisation du Compte Utilisateur par un
                tiers qui aurait eu accès aux identifiants et au mot-de-passe de
                l</FONT>
            <FONT FACE="Arial Narrow, serif">’</FONT>
            <FONT FACE="ArialNarrow, serif">Utilisateur
                de quelque manière que ce soit. </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT FACE="ArialNarrow, serif">QUIZEE.fr
                conserve l</FONT>
            <FONT FACE="Arial Narrow, serif">’</FONT>
            <FONT FACE="ArialNarrow, serif">intégralité
                de ses droits de propriété intellectuelle, portant notamment sur
                le Logiciel, son interface, sa documentation, </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><B>Contenu
                généré par l’Utilisateur </B></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Le
            Logiciel et/ou les Services peu(ven)t e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            utilisé(s) par l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            pour générer, héberger et transmettre des contenus, incluant
            mais sans limitation toute </FONT>
        <FONT FACE="Arial Narrow, serif">œ</FONT>
        <FONT FACE="ArialNarrow, serif">uvre,
            texte, schéma, logo, graphisme, photographie, illustration et/ou
        </FONT>
        <FONT FACE="ArialNarrow, serif"><SPAN >animation
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">visualisable par
            d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">autres
            utilisateurs lors d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">une
            Utilisation de QUIZEE et permettant, le cas échéant d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">identifier
            l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            (ci- après le « </FONT>
        <FONT FACE="ArialNarrow, serif"><B>Contenu
                Utilisateur </B></FONT>
        <FONT FACE="ArialNarrow, serif">»). </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            déclare e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            le titulaire des Droits de Propriété Intellectuelle afférents
            au Contenu Utilisateur et/ou e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            investi de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">ensemble
            des droits et autorisations afférents au Contenu Utilisateur
            nécessaires pour en permettre l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">utilisation,
            la reproduction, la représentation et la diffusion via le Logiciel
            et/ou les Services </FONT>
        <FONT FACE="ArialNarrow, serif"><SPAN >sur
                le territoire de l’Utilisation de QUIZEE. </SPAN></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            est propriétaire de son Contenu Utilisateur et reconnai</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">t
            e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            seul responsable de ce Contenu et plus généralement de toute
            donnée qu</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">il
            crée, modifie, supprime, héberge ou transfert via le Logiciel
            et/ou les Services. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            s</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">engage
            à ne pas charger, télécharger, héberger, afficher ou
            transmettre via le Logiciel et/ou les Services de Contenu Utilisateur
            susceptible de contenir (i) des virus, chevaux de Troie et/ou tous
            logiciels malveillants (« </FONT>
        <FONT FACE="ArialNarrow, serif"><I>malware
            </I></FONT>
        <FONT FACE="ArialNarrow, serif">») ou espions (« </FONT>
        <FONT FACE="ArialNarrow, serif"><I>spyware
            </I></FONT>
        <FONT FACE="Arial Narrow, serif">»</FONT>
        <FONT FACE="ArialNarrow, serif">)
            et/ou (ii) tout matériel qui constitue ou encourage un comportement
            qui pourrait e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            considéré comme une infraction criminelle, donner lieu à une
            responsabilité civile ou autrement contraire à la loi et / ou
            contenir du matériel diffamatoire, obscène ou offensant. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">En
            conséquence QUIZEE.fr : </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">-
            procède à une simple mise à disposition des Utilisateurs d’un
            espace de stockage de Contenu Utilisateur destiné à e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            communiqué aux destinataires d’une Utilisation de QUIZEE ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">-
            ne pré-visualise pas et n'a aucune connaissance du Contenu
            Utilisateur ; et </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">-
            n</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">exerce
            aucun contro</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">le
            éditorial du Contenu Utilisateur avant son chargement, hébergement
            et/ou transfert via le Logiciel. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">-
        </FONT>
        <FONT FACE="ArialNarrow, serif">QUIZEE.fr ne saurait e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            tenue responsable d'aucune défaillance ou retard dans la
            suppression de Contenus Utilisateur. </FONT>
    </P>
    <br>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><B>Données
                à caractère personnel </B></FONT>
    </P>
    <OL TYPE=A>
        <LI>
            <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
                <FONT FACE="ArialNarrow, serif"><B>Traitement
                        de Données Personnelles par QUIZEE.fr</B></FONT>
            </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><B>Se
                référer à la Politique de Confidentialité et de protection des
                données personnelles accessible sur Quizee.fr</B></FONT>
    </P>
    <OL TYPE=A START=2>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
                <FONT FACE="ArialNarrow, serif"><B>Traitement de Données
                        Personnelles par l’Utilisateur </B></FONT>
            </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Administrateur
            ou l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            est susceptible de collecter et de traiter les Données Personnelles
            des utilisateurs participant à une Utilisation de QUIZEE.fr
            administrée par l’Administrateur ou l’Utilisateur. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">A
            ce titre, quelle que soit la localisation de l’Utilisation de
            QUIZEE.fr, l’Administrateur ou l’Utilisateur : </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">-
            est responsable du traitement des Données Personnelles des
            Utilisateurs participant à l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisation
            de QUIZEE.fr administrée par ce dernier, pour en avoir déterminé
            les finalités et moyens ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">-
            choisit seul les catégories de Données Personnelles qu</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">il
            décide de partager dans le cadre d’une Utilisation de QUIZEE.fr ;
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">-
            s</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">engage
            à informer et recueillir préalablement le consentement des
            personnes concernées lorsqu</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">il
            partage des données personnelles de tiers. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><B>Responsabilité</B></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">QUIZEE.fr
            ne garantit pas que le Logiciel et/ou les Services soit exempt
            d'anomalies, d</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">erreurs
            ou de bugs et que leur fonctionnement soit ininterrompu. En
            conséquence, il est rappelé à l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            qu'il lui appartient de prendre toute mesure appropriée (notamment
            sauvegardes régulières) pour minimiser les conséquences
            dommageables liées notamment à une possible interruption
            d'exploitation ou à une possible perte de données générée
            par le Logiciel du fait de son utilisation. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">L</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            s'engage à garantir, à la première demande, y compris en cas de
            décision de justice non définitive, à indemniser et dédommager
            QUIZEE.fr (son représentant) de tous dommages directs que QUIZEE.fr
            pourrait subir si sa responsabilité se trouvait engagée par un
            tiers, du fait d'une revendication, d'une action ou d'une plainte
            liée au Contenu Utilisateur produit par l’Utilisateur ou
            informations hébergées, affichées ou diffusées via les
            Services par l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            ou consécutive à une utilisation des Services en violation des
            CGU. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">QUIZEE.fr
            ne saurait voir sa responsabilité engagée notamment pour : </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">la nature, le contenu
            et la qualité du Contenu Utilisateur ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">les difficultés
            d'accès au Logiciel et/ou aux Services du fait du non-respect total
            ou partiel d'une obligation de l’Utilisateur au titre des CGU et/ou
            de la Licence Utilisateur, et/ou de l'utilisation par l’Utilisateur
            d'un Terminal non compatible ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">toute difficulté
            d'accès aux Services résultant d'une opération de maintenance
            technique nécessaire au bon fonctionnement des Services et/ou en
            cas d'actualisation des données, de mise à jour ou de mise à
            niveau du Logiciel ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">tous
            dysfonctionnements, ralentissements, interruptions, impossibilité
            et/ou mauvaises conditions d'accès aux Services (i) du fait de la
            nature me</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">me
            du réseau Internet, des réseaux de téléphonie mobile et des
            réseaux sans fil et/ou (ii) d'une défaillance et/ou d'une
            saturation des réseaux de communication de données (Internet,
            intranet, ou par réseau sans fil) résultant notamment de la
            configuration, architecture et/ou localisation des lieux de
            réalisation de l’Utilisation de QUIZEE.fr en cause sur lesquels
            QUIZEE.fr n</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">a
            pas de mai</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">trise
            ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">la contamination par
            virus des données et/ou logiciels de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur,
            dont la protection incombe à ce dernier ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">toute perte de données
            et dommages causés aux Terminaux du fait du téléchargement de
            données réalisé par l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            à sa discrétion ou sous son entière responsabilité ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">les intrusions
            malveillantes de tiers sur le Contenu Utilisateur sur le Cloud,
            malgré les mesures de sécurité mises en place par QUIZEE.fr et
            son hébergeur OVH ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">la mauvaise utilisation
            du Logiciel et/ou des Services par l’Utilisateur ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">les dommages que
            pourraient subir les Terminaux de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur,
            ceux-ci étant sous son entière responsabilité ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">les détournements
            éventuels de mots de passe, codes confidentiels, et plus
            généralement de toute information à caractère sensible pour
            l’Utilisateur dont ce dernier assume l'entière responsabilité ;</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><BR></FONT>
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">tout dommage et
            dégradation de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">accès
            et/ou de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">utilisation
            des Services résultant du refus d’installation ou de la
            suppression des cookies par l’Utilisateur ; </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialMT, serif"><SPAN >-
            </SPAN></FONT>
        <FONT FACE="ArialNarrow, serif">les préjudices
            indirects, c'est à dire tous ceux qui ne résultent pas
            directement et exclusivement de la défaillance partielle ou totale
            du Logiciel et/ou des Services . </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Au
            titre de l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">exécution
            des Services, QUIZEE.fr ne souscrit qu</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">une
            obligation de moyens, ce que l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            reconnai</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">t
            et accepte expressément. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">La
            responsabilité éditoriale de QUIZEE.fr ne pourra e</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">tre
            engagée pour le Contenu Utilisateur et toutes données et
            informations affichées, stockées, diffusées et/ou transmises
            durant une Utilisation de QUIZEE.fr et pour lesquels QUIZEE.fr n</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">a
            pas la mai</FONT>
        <FONT FACE="Arial, serif">̂</FONT>
        <FONT FACE="ArialNarrow, serif">trise.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">En
            conséquence, l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            assume l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">entière
            responsabilité civile ou pénale du Contenu Utilisateur et plus
            généralement de l’utilisation qui en est faite dans le cadre
            des Services par ce dernier, les autres utilisateurs ou par tout
            tiers assistant à une utilisation de QUIZEE.fr</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Les
            conditions concernant la </FONT>
        <FONT FACE="Arial Narrow, serif"><B>«</B></FONT>
        <FONT FACE="ArialNarrow, serif"><B>
                Propriété Intellectuelle »</B></FONT>
        <FONT FACE="ArialNarrow, serif">,
        </FONT>
        <FONT FACE="ArialNarrow, serif"><B>les </B></FONT>
        <FONT FACE="Arial Narrow, serif"><B>«</B></FONT>
        <FONT FACE="ArialNarrow, serif"><B>
                Données à caractère personnel »</B></FONT>
        <FONT FACE="ArialNarrow, serif">,
        </FONT>
        <FONT FACE="ArialNarrow, serif"><B>la </B></FONT>
        <FONT FACE="Arial Narrow, serif"><B>«</B></FONT>
        <FONT FACE="ArialNarrow, serif"><B>
                Responsabilité »</B></FONT>
        <FONT FACE="ArialNarrow, serif">,
            continueront de s'appliquer à compter de la cessation ou la
            résiliation des CGU pour quelque cause que ce soit. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">Dans
            un délai de trois (3) jours ouvrables à compter de la réception
            par l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">Utilisateur
            de la notification de résiliation de la Licence Utilisateur quelle
            qu'en soit la cause, adressée par QUIZEE.fr par courrier
            électronique à l</FONT>
        <FONT FACE="Arial Narrow, serif">’</FONT>
        <FONT FACE="ArialNarrow, serif">adresse
            figurant dans le Compte Utilisateur, le Compte Utilisateur sera
            supprimé et l'accès aux Services interrompu. Il appartient à
            l’Utilisateur de procéder en amont de cette résiliation et dans
            le délai ouvert à compter de la réception de la notification de
            résiliation aux sauvegardes nécessaires ; le Contenu Utilisateur
            étant définitivement perdu à compter de la résiliation. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif"><B>Droit
                Applicable </B></FONT>
        <FONT FACE="Arial Narrow, serif"><B>–</B></FONT>
        <FONT FACE="ArialNarrow, serif"><B>
                Juridiction Compétente </B></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="ArialNarrow, serif">La
            conclusion, la validité, l’interprétation, l’exécution, la
            réalisation des CGU et l’exécution des Services sont régies
            exclusivement par le droit français.</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
        <FONT FACE="Times New Roman, serif">
            <FONT FACE="ArialNarrow, serif">Les
                Utilisateurs acceptent expressément de se conformer à toutes les
                lois, ordonnances et réglementations nationales française
                applicables à une utilisation des Services en utilisant leurs
                Terminaux. </FONT>
        </FONT>
    </P>
    <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><BR><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
</BODY>

</HTML>