<!DOCTYPE html>
<html class="center">

    <head>
        <link href="/stylesheets/quizz/ajouter.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/quizz/questions.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/quizz/reponses.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/quizz/navbar.css" rel="stylesheet" type="text/css">
        <title>Quizee</title>
    </head>

    <body class="center sizebodybig">
        <%- include('../partials/modifquizz', {where: "modifquizz"}); %>
        <script id="myJson">
            var quizz = '<%-JSON.stringify(quizz) %>';
            quizz = quizz.replace(/\\/g,'');
            quizz = quizz.replace(/""/g,'"');
            quizz = JSON.parse(quizz);

        </script>
        <script src="/javascripts/questions.js"></script>
    </body>

</html>
