<!DOCTYPE html>
<html class="center">

<head>
    <link href="/stylesheets/quizz/reinitialisemdp2.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Quizee</title>
</head>

<body class="center largeur">
    <form class="infos_globale">
        <div class="titre">
            <p>Reinitialiser mon mot de passe</p>
        </div>
        <div class= "centrer">
            <input type="text" id="password" name="password" placeholder="Nouveau mot de passe" style="border: hidden">
        </div>
        <div class= "centrer">
            <input type="text" id="password" name="password" placeholder="Nouveau mot de passe" style="border: hidden">
        </div>
        <button class="block_bleu_foncer largeur1" type="submit">
            valider
        </button>