<section>
    <nav class="header">
        
      <ul class="header-menu">
        <li class="header-choix"><img src="/images/logo.PNG" alt="logo" /></li>
        <li class="header-choix" style="border : hidden"><a href="#"></a></li>
        <li class="header-choix"><a href="/">ACCEUIL</a></li>
        <li class="header-choix"><a href="/users/connexion">CONNEXION</a></li>
        <li class="header-choix"><a href="/equipe">L'EQUIPE</a></li>
        <li class="header-choix"><a href="/infos">INFOS</a></li>
        <li class="header-choix"><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
  </section>